<div class="container">
    <h1>Account Management</h1>

    <% if (locals.message) { %>
        <div class="alert alert-success">
            <%= message %>
        </div>
        <% } %>

            <% if (locals.error) { %>
                <div class="alert alert-danger">
                    <%= error %>
                </div>
                <% } %>

                    <% if (locals.errors && errors.length> 0) { %>
                        <div class="alert alert-danger">
                            <ul>
                                <% errors.forEach(function(error) { %>
                                    <li>
                                        <%= error.msg %>
                                    </li>
                                    <% }); %>
                            </ul>
                        </div>
                        <% } %>

                            <div class="content">
                                <p>You're logged in.</p>
                            </div>
</div>