<head>
    <meta charset="UTF-8"> <!-- make sure that all languages are supported -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- tell the browser to use his best tools to render the page -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--make sure the page is responsive -->
    <title><%- title %> | CSE 340 App</title> <!-- set the title of the page to be dynamic -->
    <link rel="stylesheet" href="/css/styles.css" media="screen">
</head>