<div class="welcome-row">
    <span class="home-welcome">Welcome to CSE Motors!</span>
</div>

<div class="delorean-section">
    <div class="delorean-info">
        <div class="delorean-title">DMC Delorean</div>
        <div class="delorean-features">
            3 Cup holders<br>
            Superman doors<br>
            Fuzzy dice!
        </div>
        <button class="own-today-btn">Own Today</button>
    </div>
    <img src="/images/vehicles/delorean.jpg" alt="DMC Delorean" class="delorean-img">
</div>

<div class="bottom-sections">
    <section class="upgrades-section">
        <div class="upgrades-title">Delorean Upgrades</div>
        <div class="upgrades-grid">
            <div class="upgrade-item">
                <div class="upgrade-img-box">
                    <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor" class="upgrade-img">
                </div>
                <a href="#" class="upgrade-link">Flux Capacitor</a>
            </div>
            <div class="upgrade-item">
                <div class="upgrade-img-box">
                    <img src="/images/upgrades/flame.jpg" alt="Flame Decals" class="upgrade-img">
                </div>
                <a href="#" class="upgrade-link">Flame Decals</a>
            </div>
            <div class="upgrade-item">
                <div class="upgrade-img-box">
                    <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers" class="upgrade-img">
                </div>
                <a href="#" class="upgrade-link">Bumper Stickers</a>
            </div>
            <div class="upgrade-item">
                <div class="upgrade-img-box">
                    <img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps" class="upgrade-img">
                </div>
                <a href="#" class="upgrade-link">Hub Caps</a>
            </div>
        </div>
    </section>

    <section class="reviews-section">
        <div class="reviews-title">DMC Delorean Reviews</div>
        <ul class="reviews-list">
            <li>“So fast it's almost like traveling in time.” (4/5)</li><br>
            <li>“Coolest ride on the road.” (4/5)</li><br>
            <li>“I'm feeling McFly!” (5/5)</li><br>
            <li>“The most futuristic ride of our day.” (4.5/5)</li><br>
            <li>“80's livin and I love it!” (5/5)</li><br>
        </ul>
    </section>
</div>